body {
    margin: 0px;
    width: 100%;
    background: radial-gradient(circle, rgb(221, 187, 100), rgb(207, 157, 49));
    padding: 0px; 
    margin-bottom: 50px;
    overflow-x: hidden; 
}

.Links {
    text-align: center;
    margin-top: 20px; 
    font-size: 20px;
}

.Link {
    color: white;
    text-decoration: none;
    padding: 15px; 
    font-family: Barlow Condensed, sans-serif;
    display: inline-block;
}

#Prishtina_Mall_Logo {
    transform: scale(1);
    transition: .3s ease-in-out;
    max-width: 100%;
    height: auto;
}

#Prishtina_Mall_Logo:hover {
    transform: scale(1.1);
}

#Stores {
    font-size: (30px,50px); 
    text-align: center;
    color: white;
    font-family: Barlow Condensed, sans-serif;
    margin-top: 50px;
}

#Store {
    margin-top: 50px;
    width: 90%; 
    max-width: 800px; 
    height: auto;
    border-radius: 20px;
    margin-left: auto; 
    margin-right: auto;
    display: block;
}

#Explain_Paragraph {
    color: white;
    font-size: 25px;
    margin: 40px auto;
    width: 80%;
    text-align: center;
}

h1 {
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: Barlow Condensed, sans-serif;
    margin-top: 100px;
}

#Famous {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 30px;
    padding:  10%;
}

.Famous {
    font-size: 24px;
    font-family: Barlow Condensed, sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
}

#img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
    margin-top: 20px;
}

.img {
    width: 80%; 
    max-width: 250px; 
    height: auto;
    transform: scale(1);
    transition: .2s ease-out;
    border-radius: 10px;
}

.img:hover {
    transform: scale(1.1);
}

footer {
    min-height: 200px;
    height: auto;
    width: 100%;
    color: gray;
    text-align: center;
    padding-top: 50px;
}


@media (max-width: 768px) {
    .Links {
        display: flex;
        flex-direction: column;
    }
    
    #Famous {
        flex-direction: column;
        align-items: center;
    }
    
    #img {
        flex-direction: column;
        align-items: center;
    }
}