.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background: aliceblue;
    min-width: 160px;
    box-shadow: 6px 8px 16px 0px black;
    padding: 12 px 16px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -60%;
}

.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent transparent;
}

.tooltip:hover .tooltiptext{
    visibility: visisble;
}


