/* 
@media type and (feature)

● @media keyword is used to create a media query

● The type part is used to specify the type of device for which the CSS code inside the media query will be applied. 

● The feature part is used to add different kinds of conditions that should be evaluated to true for the code to be executed. In this part, we can create breakpoints for different screen resolutions using min-width, max-width, min-height, max-height properties.

Values that we can use in the type part are:

● All - used when we want the style to apply for all media type devices

● Print - used when we want a specific style to apply when we print something

● Screen - used when we want the style to apply for computer screens, tablets, smartphones, etc.

 */ 



@media(min-width:600px){
    body{
        background-color: darkblue;
        color: white;
    }
}

@media all and(max-width:600px){
    body{
        background-color: darkblue;
        color: white;
    }
}

@media all and(orientation: landscape){
    h1{
        font-size: 80px;
    }
}

@media all and(orientation: portrait){
    h1{
        font-size: 30px;
    }
}

@media (min-width:600px) and (max-width:900px){
    img{
        display: none;
    }
}

@media (min-width:600px){
    p{
        column-count: 2;
    }
}

@media print{
    body{
        background-color: transparent;
    }
}