p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: aquamarine;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: blue;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: beige;
}