h1{
    text-decoration: line-through;
}

h2{
    text-decoration: underline;
}

h3{
    text-decoration: overline;
}

_________________________________________________

.blue{
    color: blue;
}


-------------------------------------

.red{
    text-decoration: red;
}


#font1{
    font-family: 'Lucida Sans';
}

#font2{
    font-family: 'Courier New', Courier, monospace;
}

------------------------

a:link{
    color: blueviolet;

}

a:hover{
    color: aquamarine;
    text-decoration: overline;
}

a:visited{
    color: red;
}

a:active{
    color: blueviolet;
}