.square{
    background-color: yellow;
    color: yellow;
    width: 300px;
    height: 300px;
}

.triangle{
   width: 0px;
   height: 0px;
   border-bottom: 100px solid green;
   border: 50px ;
    

}

.circle{
    background-color: pink;
    color: pink;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}



.rectangle{
    background-color: green;
    color: green;
    height: 300px;
    width: 700px;
}