div#static{
    position: static;
    border: 3px solid darkblue;
    width: 250px;
    height: 250px;
    padding: 20px;
}
div#relative{
    position: relative;
    border: 3px solid darkblue;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 200px;
    top: 200px;
}

div#fixed{
    position: fixed;
    border: 3px solid darkblue;
    width: 250px;
    height: 250px;
    padding: 20px;
    right: 200px;
    top: 200px;
}

div#parent{
    position: relative;
    width: 250px;
    height: 250px;
    border: 3px solid darkblue;
}

div#absolute{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: darkblue;
    right: 80px;
    top: 70px;
    color: white;
}

div#sticky{
    position: sticky;
    top: 0;
    background-color: darkblue;
    padding: 20px;
    color: white;
}

*{
    margin: 0;
    padding: 0;
}