ul{
    border-left: 5px solid green;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 15px 25px;
    font-size: 20px;
}

ol{
    border-left: 5px solid blue;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 50px 30px;
    font-size: 20px;
}