p{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

@font-face {
    font-family: "coder";
    src: url(fonts/SemiCoderT.ttf);

}

h2{
    font-family: 'coder';
}