div.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover{
    border: 1px solid #777;
}

div.gallery img{
    width: 100%;
    height: auto;
}

div.description{
    padding: 15px;
    text-align: center;
}

a[href="https://shkolladigjitale.com/"]{
    color: lightcoral;
}

/*
[data value]{
attribute exists}

[data value="foo"]{
attribute has this exact value}

[data value *="foo"]{
attribute has this value somewhere}

[data value ~="foo"]{
space seperated list}

[data value ^="foo"]{
attribute value starts with this}

[data value $="foo"]{
attribute value ends with this}


*/




p[class*="ds"]{
    background: blue;
    color: white;
    padding: 20px;
}

div[class~="ds"]{
    background: green;
    color: white;
    padding: 20px;
}

img[title^="blue"]{
    border: 5px solid blue;
}